In [5]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
!pip install sqlalchemy
!pip install pymysql

Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.12/site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: pymysql in /opt/anaconda3/lib/python3.12/site-packages (1.1.1)

# 1.&nbsp; Scraping Basic Information

## 1.1.&nbsp; Scraping country, latitude and longitude of each city

### Berlin

In [9]:
# get the berlin_soup
url = 'https://www.wikipedia.org/wiki/Berlin'
response = requests.get(url)
berlin_soup = BeautifulSoup(response.content, 'html.parser')

> By using Google Chrome and using the developer tool (`View > Developer > Developer Tools`) we can see that the **country** is in the tag with the attribute `class` `infobox-data`.
>
> ![image.png]()

In [11]:
berlin_soup.find_all(class_="infobox-data")

[<td class="infobox-data"><span class="flagicon"><span class="mw-image-border" typeof="mw:File"><span><img alt="" class="mw-file-element" data-file-height="600" data-file-width="1000" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/23px-Flag_of_Germany.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/35px-Flag_of_Germany.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/46px-Flag_of_Germany.svg.png 2x" width="23"/></span></span> </span><a href="/wiki/Germany" title="Germany">Germany</a></td>,
 <td class="infobox-data"><a href="/wiki/Boroughs_and_neighborhoods_of_Berlin" title="Boroughs and neighborhoods of Berlin">Berlin</a></td>,
 <td class="infobox-data agent"><a href="/wiki/Abgeordnetenhaus_of_Berlin" title="Abgeordnetenhaus of Berlin">Abgeordnetenhaus of Berlin</a></td>,
 <td class="infobox-data"><a href="/wiki/Kai_Wegner" title="Kai Wegner">Kai Wegner</a> (CDU)</td>,
 <td class="infobox-data">4 (of 69)</td>,
 <td class="infobox-data"><a href="/wiki/Results_of_the_2021_German_federal_election#Berlin" title="Results of the 2021 German federal election">29 (of 736)</a></td>,
 <td class="infobox-data">891.3 km<sup>2</sup> (344.1 sq mi)</td>,
 <td class="infobox-data">3,743 km<sup>2</sup> (1,445 sq mi)</td>,
 <td class="infobox-data">30,546 km<sup>2</sup> (11,794 sq mi)</td>,
 <td class="infobox-data">34 m (112 ft)</td>,
 <td class="infobox-data">3,878,100</td>,
 <td class="infobox-data"><a href="/wiki/List_of_European_cities_by_population_within_city_limits" title="List of European cities by population within city limits">5th</a> in Europe<br/><a href="/wiki/List_of_cities_in_Germany_by_population" title="List of cities in Germany by population">1st</a> in Germany</td>,
 <td class="infobox-data">4,213/km<sup>2</sup> (10,910/sq mi)</td>,
 <td class="infobox-data">4,768,142</td>,
 <td class="infobox-data">1,274/km<sup>2</sup> (3,300/sq mi)</td>,
 <td class="infobox-data">6,144,600</td>,
 <td class="infobox-data">201/km<sup>2</sup> (520/sq mi)</td>,
 <td class="infobox-data">Berliner(s) (English)<br/>Berliner (m), Berlinerin (f) (German)</td>,
 <td class="infobox-data">€193.219 billion (2023)</td>,
 <td class="infobox-data">€290.696 billion (2023)</td>,
 <td class="infobox-data"><a href="/wiki/UTC%2B01:00" title="UTC+01:00">UTC+01:00</a> (<a href="/wiki/Central_European_Time" title="Central European Time">CET</a>)</td>,
 <td class="infobox-data"><a href="/wiki/UTC%2B02:00" title="UTC+02:00">UTC+02:00</a> (<a href="/wiki/Central_European_Summer_Time" title="Central European Summer Time">CEST</a>)</td>,
 <td class="infobox-data"><a href="/wiki/List_of_dialling_codes_in_Germany#030_–_Berlin" title="List of dialling codes in Germany">030</a></td>,
 <td class="infobox-data nickname"><a href="/wiki/Nomenclature_of_Territorial_Units_for_Statistics" title="Nomenclature of Territorial Units for Statistics">NUTS Region</a>: DE3</td>,
 <td class="infobox-data nickname">DE-BE</td>,
 <td class="infobox-data">B</td>,
 <td class="infobox-data"><a href="/wiki/.berlin" title=".berlin">.berlin</a></td>,
 <td class="infobox-data">0.959<sup class="reference" id="cite_ref-9"><a href="#cite_note-9"><span class="cite-bracket">[</span>9<span class="cite-bracket">]</span></a></sup><br/><style data-mw-deduplicate="TemplateStyles:r1239334494">@media screen{html.skin-theme-clientpref-night .mw-parser-output div:not(.notheme)>.tmp-color,html.skin-theme-clientpref-night .mw-parser-output p>.tmp-color,html.skin-theme-clientpref-night .mw-parser-output table:not(.notheme) .tmp-color{color:inherit!important}}@media screen and (prefers-color-scheme:dark){html.skin-theme-clientpref-os .mw-parser-output div:not(.notheme)>.tmp-color,html.skin-theme-clientpref-os .mw-parser-output p>.tmp-color,html.skin-theme-clientpref-os .mw-parser-output table:not(.notheme) .tmp-color{color:inherit!important}}</style><span class="tmp-color" style="color:green">very high</span> · <a href="/wiki/List_of_German_states_by_Human_Development_Index" title="List of German states by Human Development Index">2nd of 16</a></td>,
 <td class="infobox-data"><span class="url"><a class="external text" href="https://www.berlin.de/en/" rel="nofollow">berlin.de</a></span></td>]

As we only want the first of all of these, let's make our lives easy and use `find()` instead of `find_all()`.

In [13]:
berlin_soup.find(class_="infobox-data")

<td class="infobox-data"><span class="flagicon"><span class="mw-image-border" typeof="mw:File"><span><img alt="" class="mw-file-element" data-file-height="600" data-file-width="1000" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/23px-Flag_of_Germany.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/35px-Flag_of_Germany.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/46px-Flag_of_Germany.svg.png 2x" width="23"/></span></span> </span><a href="/wiki/Germany" title="Germany">Germany</a></td>

Nice, we got the right element. Now let's extract the text:

In [15]:
berlin_soup.find(class_="infobox-data").get_text()

'\xa0Germany'

And store it in a variable

In [17]:
berlin_country = berlin_soup.find(class_="infobox-data").get_text()
berlin_country

'\xa0Germany'

Nice and easy! Let's extract **latitude and longitude** for Berlin.


Again, by exploring the HTML using developer tools,  we can see that the HTML tag surrounding the latitude that we want contains `<span class="latitude">`:

![image.png]()


So let's use it.

In [20]:
berlin_soup.find(class_="latitude")

Nice, we got the right element directly. Now let's extract the text:

In [22]:
berlin_soup.find(class_="latitude").get_text()

'52°31′12″N'

and store it in a variable

In [24]:
berlin_latitude = berlin_soup.find(class_="latitude").get_text()
berlin_latitude

'52°31′12″N'

Let's try the same for longitude

In [26]:
berlin_longitude = berlin_soup.find(class_="longitude").get_text()
berlin_longitude

'13°24′18″E'

Well done! We would like to have the coordinates in decimal format later on, but for now we will focus on collection before cleaning.

### Hamburg
Let's see if the lessons we learnt from Berlin apply to Hamburg

In [29]:
url = 'https://www.wikipedia.org/wiki/Hamburg'
response = requests.get(url)
hamburg_soup = BeautifulSoup(response.content, 'html.parser')

hamburg_country = hamburg_soup.find(class_="infobox-data").get_text()
hamburg_latitude = hamburg_soup.find(class_="latitude").get_text()
hamburg_longitude = hamburg_soup.find(class_="longitude").get_text()

hamburg_country, hamburg_latitude, hamburg_longitude

('Germany', '53°33′N', '10°00′E')

Fantastic the same rules apply. It's nice to find general rules like this as then you can loop through things and make your life easier. If finding the latitude and longitude for Hamburg was significantly different this could add complexity to our code. Unfortunately, web scrapping is very fragile - if someone redesigns the page, our code breaks and we have to start again - this is why APIs are preferred when they're available.

### Munich

In [32]:
url = 'https://www.wikipedia.org/wiki/Munich'
response = requests.get(url)
munich_soup = BeautifulSoup(response.content, 'html.parser')

munich_country = munich_soup.find(class_="infobox-data").get_text()
munich_latitude = munich_soup.find(class_="latitude").get_text()
munich_longitude = munich_soup.find(class_="longitude").get_text()

munich_country, munich_latitude, munich_longitude

('Germany', '48°08′15″N', '11°34′30″E')

Great we've found a rule that generalises well, this helps us to automate our code with a loop.

## 1.2.&nbsp; Making a loop

In [35]:
cities = ["Berlin", "Hamburg", "Munich"]

countries = []
latitudes = []
longitudes = []

for city in cities:
  # get the soup for the city
  url = f"https://www.wikipedia.org/wiki/{city}"
  response = requests.get(url)
  city_soup = BeautifulSoup(response.content, 'html.parser')

  # extract the data
  city_country = city_soup.find(class_="infobox-data").get_text(strip=True) #Removing the unicode from our results (if they exist)
  city_latitude = city_soup.find(class_="latitude").get_text()
  city_longitude = city_soup.find(class_="longitude").get_text()

  # append data to a list
  countries.append(city_country)
  latitudes.append(city_latitude)
  longitudes.append(city_longitude)

In [36]:
print(f"The cities are in the following countries: {countries}")
print(f"The cities have the following latitudes: {latitudes}")
print(f"The cities have the following longitudes: {longitudes}")

The cities are in the following countries: ['Germany', 'Germany', 'Germany']
The cities have the following latitudes: ['52°31′12″N', '53°33′N', '48°08′15″N']
The cities have the following longitudes: ['13°24′18″E', '10°00′E', '11°34′30″E']

This works well for those German cities. Great! Let's turn these lists into dataframe.

# 2.&nbsp; Data Organisation

## 2.1.&nbsp; Creating a DataFrame

In [40]:
cities_df = pd.DataFrame({"City": cities,
                          "Country": countries,
                          "Latitude": latitudes,
                          "Longitude": longitudes})

cities_df

      City  Country    Latitude   Longitude
0   Berlin  Germany  52°31′12″N  13°24′18″E
1  Hamburg  Germany     53°33′N     10°00′E
2   Munich  Germany  48°08′15″N  11°34′30″E

Nice and easy. We had our information in separate lists and now used them to create our DataFrame. Well done! However, if we add more and more columns we would need many separate lists.

There is a solution for this. Check out the next example:

In [42]:
cities = ["Berlin", "Hamburg", "Munich"]

# create one single list to keep track of all values (instead of having separate lists)
city_data = []

for city in cities:
    url = f"https://www.wikipedia.org/wiki/{city}"
    response = requests.get(url)
    city_soup = BeautifulSoup(response.content, 'html.parser')

    # extract the relevant information
    country = city_soup.find(class_="infobox-data").get_text(strip=True) #Removing the unicode from our results (if they exist)
    city_latitude = city_soup.find(class_="latitude").get_text()
    city_longitude = city_soup.find(class_="longitude").get_text()

    # for each city we append a dictionary of values to the list
    city_data.append({"City": city,
                     "Country": country,
                     "Latitude": city_latitude,
                     "Longitude": city_longitude
                    })

cities_df = pd.DataFrame(city_data)
cities_df

      City  Country    Latitude   Longitude
0   Berlin  Germany  52°31′12″N  13°24′18″E
1  Hamburg  Germany     53°33′N     10°00′E
2   Munich  Germany  48°08′15″N  11°34′30″E

#### Feeling brave: Changing the latitude and longitude to decimal format

We will need latitude and longitude in a decimal format to retrieve information on weather and airports.There are many ways to go about it. Google around to get some ideas:
- you can write the extraction yourself and practice working with Strings and Regex or
- you can use a library that someone created for this task.

Here we will use [a python library](https://pypi.org/project/lat-lon-parser/) that converts latitude and longitude to decimal:

In [45]:
!pip install lat-lon-parser

Requirement already satisfied: lat-lon-parser in /opt/anaconda3/lib/python3.12/site-packages (1.3.0)

In [46]:
from lat_lon_parser import parse

parse(berlin_latitude)

52.519999999999996

You can now add it to your for loop. The next section shows an example.

## 2.2.&nbsp; Looking ahead: Wrapping your code in a function

A brief reminder on functions:
- we copy our working code,
- indent it,
- and add the definition and return of the function.

In [50]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
from lat_lon_parser import parse    # for decimal coordinates


def cities_dataframe(cities):

  city_data = []

  for city in cities:
    url = f"https://www.wikipedia.org/wiki/{city}"
    response = requests.get(url)
    city_soup = BeautifulSoup(response.content, 'html.parser')

    # extract the relevant information
    city_latitude = city_soup.find(class_="latitude").get_text()
    city_longitude = city_soup.find(class_="longitude").get_text()
    country = city_soup.find(class_="infobox-data").get_text(strip=True) #Removing the unicode from our results (if they exist)

    # keep track of data per city
    city_data.append({"City": city,
                    "Country": country,
                    "Latitude": parse(city_latitude), # latitude in decimal format
                    "Longitude": parse(city_longitude), # longitude in decimal format
                    })

  return pd.DataFrame(city_data)

In [51]:
# call the function
list_of_cities = ["Berlin", "Hamburg", "Munich"]

cities_df = cities_dataframe(list_of_cities)
cities_df

      City  Country  Latitude  Longitude
0   Berlin  Germany   52.5200     13.405
1  Hamburg  Germany   53.5500     10.000
2   Munich  Germany   48.1375     11.575

Hey, this worked great! Let's remember why we use functions: We want to be able to repeat the code many times. When we call our function with different cities, the relevant information will be extracted. This will help Gans to expand in the future.

In [53]:
new_cities = ["Cologne", "Amsterdam", "Paris"]
new_cities_df = cities_dataframe(new_cities)

In [54]:
cities_df

      City  Country  Latitude  Longitude
0   Berlin  Germany   52.5200     13.405
1  Hamburg  Germany   53.5500     10.000
2   Munich  Germany   48.1375     11.575

In [55]:
new_cities_df

        City      Country   Latitude  Longitude
0    Cologne      Germany  50.936389   6.952778
1  Amsterdam  Netherlands  52.372778   4.893611
2      Paris       France  48.856667   2.352222

In [56]:
combined_cities_df = pd.concat([cities_df,new_cities_df],ignore_index = True)

In [57]:
combined_cities_df

        City      Country   Latitude  Longitude
0     Berlin      Germany  52.520000  13.405000
1    Hamburg      Germany  53.550000  10.000000
2     Munich      Germany  48.137500  11.575000
3    Cologne      Germany  50.936389   6.952778
4  Amsterdam  Netherlands  52.372778   4.893611
5      Paris       France  48.856667   2.352222

# 3.&nbsp; BONUS: Scraping Dynamic Information

## 3.1.&nbsp; Scraping population
Expand the scope of your data gathering by extracting the population of a city. This information changes over time, so we might need to add a timestamp.

> After inspecting the population we can see that the HTML tag surrounding the Population number contains no attributes to use. So let's try searching for `Population` and using the `find_next()` method.

In [61]:
""" If we want to make our code more robust and protect against the word `population`
being by itself somewhere else on the page, we could first select the information box on the right using: """
# berlin_soup.find('table', class_='vcard').find(string="Population").find_next()`
""" The code works without it, so we'll leave it up to you whether you think this protection/enhancement makes sense. """

berlin_soup.find(string="Population").find_next()

<div class="ib-settlement-fn"><span class="nowrap"> </span>(2023-12-31)<sup class="reference" id="cite_ref-4"><a href="#cite_note-4"><span class="cite-bracket">[</span>4<span class="cite-bracket">]</span></a></sup></div>

The output doesn't look right! That's not a population!

Looking at the html again, we can see that this `div` is the next tag, but the number we want is in the next `td` tag. Let's update our code to reflect this.

In [63]:
berlin_soup.find(string="Population").find_next("td")

Got it that time. Now let's extract the text

In [65]:
berlin_population = berlin_soup.find(string="Population").find_next("td").get_text()
berlin_population

'3,878,100'

And now we need to tidy the text so that it's a number and not a string.

In [67]:
berlin_population_clean = berlin_population.replace(",", "")
berlin_population_clean

'3878100'

In [68]:
berlin_population_clean = int(berlin_population_clean)
berlin_population_clean

3878100

Now that we have the population extracted, let's reuse our for loop from above and see if it also works for Hamburg and Munich. After we had a working for loop, we also add a timestamp.

In [70]:
from datetime import datetime # to get today's date

cities = ["Berlin", "Hamburg", "Munich"]

# create one single list to keep track of all values (instead of having separate lists)
population_data = []

for city in cities:
    url = f"https://www.wikipedia.org/wiki/{city}"
    response = requests.get(url)
    city_soup = BeautifulSoup(response.content, 'html.parser')

    # extract the relevant information
    city_population = city_soup.find(string="Population").find_next("td").get_text()
    city_population_clean = city_population.replace(",", "")
    today = datetime.today().strftime("%d.%m.%Y")

    # for each city we append a dictionary of values to the list
    population_data.append({"City": city,
                     "Population": int(city_population_clean),
                     "Population_Timestamp": today
                    })

population_data = pd.DataFrame(population_data)
population_data

      City  Population Population_Timestamp
0   Berlin     3878100           10.09.2024
1  Hamburg     1964021           10.09.2024
2   Munich     1510378           10.09.2024

Excellent! The same extraction works for Hamburg and Munich, too. And we already have a nice DataFrame to keep track of the cities' current population.

## 3.2.&nbsp; Data Organisation

Let's reuse the code and wrap it into a function.

In [74]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
from datetime import datetime # to get today's date


def populations_dataframe(cities):

    population_data = []

    for city in cities:
        url = f"https://www.wikipedia.org/wiki/{city}"
        response = requests.get(url)
        city_soup = BeautifulSoup(response.content, 'html.parser')

        # extract the relevant information
        city_population = city_soup.find(string="Population").find_next("td").get_text()
        city_population_clean = int(city_population.replace(",", ""))
        today = datetime.today().strftime("%Y-%m-%d")

        # keep track of data per city
        population_data.append({"City": city,
                        "Population": city_population_clean,
                        "Timestamp_Population": today
                        })

    return pd.DataFrame(population_data)

In [75]:
# call the populations function
cities = ["Berlin", "Hamburg", "Munich"]

population_df = populations_dataframe(cities)
population_df

      City  Population Timestamp_Population
0   Berlin     3878100           2024-09-10
1  Hamburg     1964021           2024-09-10
2   Munich     1510378           2024-09-10

This looks great. Let's see if it also works for different cities in case of Gans expansion:

In [77]:
new_cities = ["Cologne", "Amsterdam", "Paris"]

In [78]:
new_population_df = populations_dataframe(new_cities)
new_population_df

        City  Population Timestamp_Population
0    Cologne     1087353           2024-09-10
1  Amsterdam      921402           2024-09-10
2      Paris     2102650           2024-09-10

In [79]:
updated_pop_df = pd.concat([population_df,new_population_df],ignore_index = True)
updated_pop_df

        City  Population Timestamp_Population
0     Berlin     3878100           2024-09-10
1    Hamburg     1964021           2024-09-10
2     Munich     1510378           2024-09-10
3    Cologne     1087353           2024-09-10
4  Amsterdam      921402           2024-09-10
5      Paris     2102650           2024-09-10

In [80]:
cities_df = combined_cities_df
cities_df

        City      Country   Latitude  Longitude
0     Berlin      Germany  52.520000  13.405000
1    Hamburg      Germany  53.550000  10.000000
2     Munich      Germany  48.137500  11.575000
3    Cologne      Germany  50.936389   6.952778
4  Amsterdam  Netherlands  52.372778   4.893611
5      Paris       France  48.856667   2.352222

In [81]:
population_df = updated_pop_df
population_df

        City  Population Timestamp_Population
0     Berlin     3878100           2024-09-10
1    Hamburg     1964021           2024-09-10
2     Munich     1510378           2024-09-10
3    Cologne     1087353           2024-09-10
4  Amsterdam      921402           2024-09-10
5      Paris     2102650           2024-09-10

In [82]:
API_key = 'ec3f32171441d6fdef6cab30f523db6b'
weather_data = []
for i, row in cities_df.iterrows():
    lat = row['Latitude']
    lon = row['Longitude']
    url = f"http://api.openweathermap.org/data/2.5/weather?lat={lat}&lon={lon}&appid={API_key}&units=metric"
    response = requests.get(url)
    if response.status_code == 200:
        data = response.json()
        temp = data['main']['temp']
        description = data['weather'][0]['description']
        weather_data.append({'City': row['City'], 'Temperature': temp, 'Description': description})
    else:
        weather_data.append({'City': row['City'], 'Temperature': None, 'Description': None})
        
weather_df = pd.DataFrame(weather_data)
weather_df

        City  Temperature       Description
0     Berlin        17.66  scattered clouds
1    Hamburg        15.18  scattered clouds
2     Munich        16.68   overcast clouds
3    Cologne        17.20     broken clouds
4  Amsterdam        16.43     broken clouds
5      Paris        16.02  scattered clouds

In [83]:
final_df = pd.merge(cities_df, population_df, on='City')
final_df = pd.merge(final_df, weather_df, on='City')
print(final_df)

        City      Country   Latitude  Longitude  Population  \
0     Berlin      Germany  52.520000  13.405000     3878100
1    Hamburg      Germany  53.550000  10.000000     1964021
2     Munich      Germany  48.137500  11.575000     1510378
3    Cologne      Germany  50.936389   6.952778     1087353
4  Amsterdam  Netherlands  52.372778   4.893611      921402
5      Paris       France  48.856667   2.352222     2102650

  Timestamp_Population  Temperature       Description
0           2024-09-10        17.66  scattered clouds
1           2024-09-10        15.18  scattered clouds
2           2024-09-10        16.68   overcast clouds
3           2024-09-10        17.20     broken clouds
4           2024-09-10        16.43     broken clouds
5           2024-09-10        16.02  scattered clouds

In [84]:
weather_df

        City  Temperature       Description
0     Berlin        17.66  scattered clouds
1    Hamburg        15.18  scattered clouds
2     Munich        16.68   overcast clouds
3    Cologne        17.20     broken clouds
4  Amsterdam        16.43     broken clouds
5      Paris        16.02  scattered clouds

In [85]:
schema = "sql_workshop"
host = "127.0.0.1"
user = "root"
password = "forgot1234"
port = 3306

connection_string = f'mysql+pymysql://{user}:{password}@{host}:{port}/{schema}'

In [86]:
cities_df.to_sql('cities',
                  if_exists='append',
                  con=connection_string,
                  index=False)

6

In [111]:
population_df.to_sql('population',
                  if_exists='append',
                  con=connection_string,
                  index=False)

OperationalError: (pymysql.err.OperationalError) (1054, "Unknown column 'City' in 'field list'")
[SQL: INSERT INTO population (`City`, `Population`, `Timestamp_Population`) VALUES (%(City)s, %(Population)s, %(Timestamp_Population)s)]
[parameters: [{'City': 'Berlin', 'Population': 3878100, 'Timestamp_Population': '2024-09-10'}, {'City': 'Hamburg', 'Population': 1964021, 'Timestamp_Population': '2024-09-10'}, {'City': 'Munich', 'Population': 1510378, 'Timestamp_Population': '2024-09-10'}, {'City': 'Cologne', 'Population': 1087353, 'Timestamp_Population': '2024-09-10'}, {'City': 'Amsterdam', 'Population': 921402, 'Timestamp_Population': '2024-09-10'}, {'City': 'Paris', 'Population': 2102650, 'Timestamp_Population': '2024-09-10'}]]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
weather_df.to_sql('weather',
                  if_exists='append',
                  con=connection_string,
                  index=False)

In [ ]:
cities_from_sql = pd.read_sql("cities", con=connection_string)
cities_from_sql

In [ ]:
population_from_sql = pd.read_sql("population", con=connection_string)
population_from_sql

In [ ]:
import pandas as pd
import requests
import sqlalchemy
def update_weather_data():
    # Connect to the SQL database
    engine = sqlalchemy.create_engine('mysql+pymysql://root:forgot1234@localhost/sql_workshop')
    connection = engine.connect()
    query = "SELECT city_id, latitude, longitude FROM cities"
    cities_df = pd.read_sql(query, connection)
    API_key = 'ec3f32171441d6fdef6cab30f523db6b'
    weather_data = []
    for _, row in cities_df.iterrows():
        lat = row['latitude']
        lon = row['longitude']
        url = f"http://api.openweathermap.org/data/2.5/weather?lat={lat}&lon={lon}&appid={API_key}&units=metric"
        response = requests.get(url)
        if response.status_code == 200:
            data = response.json()
            temp = data['main']['temp']
            description = data['weather'][0]['description']
            weather_data.append({'city_id': row['city_id'], 'Temperature': temp, 'Description': description})
        else:
            weather_data.append({'city_id': row['city_id'], 'Temperature': None, 'Description': None})
    weather_df = pd.DataFrame(weather_data)
    weather_df.to_sql('weather', connection, if_exists='replace', index=False)
    connection.close()
update_weather_data()

In [ ]:
cities_df

In [ ]:
weather_df

In [ ]:
import sqlalchemy
from sqlalchemy import text
# Create the engine with the correct connection string
engine = sqlalchemy.create_engine('mysql+pymysql://root:forgot1234@localhost/sql_workshop')
# Establish the connection
connection = engine.connect()
# Run a test query using sqlalchemy.text()
result = connection.execute(text("SELECT * FROM weather LIMIT 5"))
# Display the result
for row in result:
    print(row)
# Close the connection
connection.close()

In [ ]:
import sqlalchemy
from sqlalchemy import text

# Create the engine with the correct connection string
engine = sqlalchemy.create_engine('mysql+pymysql://root:forgot1234@localhost/sql_workshop')

try:
    # Establish the connection
    with engine.connect() as connection:
        # Run a test query using sqlalchemy.text()
        result = connection.execute(text("SELECT * FROM population LIMIT 5"))

        # Display the result
        rows = result.fetchall()
        if rows:
            for row in rows:
                print(row)
        else:
            print("No data returned.")
except Exception as e:
    print(f"An error occurred: {e}")

In [ ]:
import pandas as pd
from api_config import *
import requests

# Define the API URL and parameters
url = "https://aerodatabox.p.rapidapi.com/airports/search/location/52.31/13.24/km/50/16"
querystring = {"withFlightInfoOnly": "true"}

# Use the API key from the imported config file
headers = {
    "X-RapidAPI-Key": RAPIDAPI_KEY,
    "X-RapidAPI-Host": "aerodatabox.p.rapidapi.com"
}

# Make the request and print the response
response = requests.get(url, headers=headers, params=querystring)
print(response.text)

In [ ]:
import requests
import pandas as pd
from api_config import *
main_airports = {
    "Berlin": "BER",
    "Hamburg": "HAM",
    "Munich": "MUC",
    "Cologne": "CGN",
    "Amsterdam": "AMS",
    "Paris": "CDG"
}
def get_main_airport_for_cities(cities_df):
    url = "https://aerodatabox.p.rapidapi.com/airports/search/location"
    headers = {
        "x-rapidapi-key": RAPIDAPI_KEY,
        "x-rapidapi-host": "aerodatabox.p.rapidapi.com"
    }
    main_airport_info = []
    for _, row in cities_df.iterrows():
        lat = row['Latitude']
        lon = row['Longitude']
        querystring = {
            "lat": str(lat),
            "lon": str(lon),
            "radiusKm": "50",
            "limit": "10",
            "withFlightInfoOnly": "false"
        }
        response = requests.get(url, headers=headers, params=querystring)
        if response.status_code == 200:
            data = response.json()
            if 'items' in data and data['items']:
                for item in data['items']:
                    if item['iata'] == main_airports.get(row['City']):
                        airport_info = {
                            'City': row['City'],
                            'Airport': item['name'],
                            'IATA': item['iata'],
                            'Latitude': item['location']['lat'],
                            'Longitude': item['location']['lon'],
                            'country_code': item['countryCode']
                        }
                        main_airport_info.append(airport_info)
                        break
            else:
                print(f"No airports found for {row['City']}")
        else:
            print(f"Error: Unable to retrieve data for {row['City']} (Status code: {response.status_code})")
    airport_df = pd.DataFrame(main_airport_info)
    return airport_df
airport_data = get_main_airport_for_cities(cities_df)
print(airport_data)

In [ ]:
airport_data.to_sql('airport',
                  if_exists='append',
                  con=connection_string,
                  index=False)

In [ ]:
import sqlalchemy
from sqlalchemy import text

# Create the engine with the correct connection string
engine = sqlalchemy.create_engine('mysql+pymysql://root:forgot1234@localhost/sql_workshop')

try:
    # Establish the connection
    with engine.connect() as connection:
        # Run a test query using sqlalchemy.text()
        result = connection.execute(text("SELECT * FROM airport LIMIT 5"))

        # Display the result
        rows = result.fetchall()
        if rows:
            for row in rows:
                print(row)
        else:
            print("No data returned.")
except Exception as e:
    print(f"An error occurred: {e}")

In [ ]:
import pandas as pd
from datetime import datetime, timedelta
import requests
from pytz import timezone

In [ ]:
# Defining the parameters

icao = "EDDB" # For Berlin airport
date = datetime.now().date()
time_1 = "00:00"
time_2 = "11:59"

url =  f"https://aerodatabox.p.rapidapi.com/flights/airports/icao/{icao}/{date}T{time_1}/{date}T{time_2}"

querystring = {"withLeg":"true",
               "direction":"Arrival",
               "withCancelled":"false",
               "withCodeshared":"true",
               "withCargo":"false",
               "withPrivate":"false"}

headers = {
     "X-RapidAPI-Key": RAPIDAPI_KEY,
     "X-RapidAPI-Host": "aerodatabox.p.rapidapi.com"
    }

response = requests.request("GET",
                            url,
                            headers = headers,
                            params = querystring)

flights_json = response.json()

flights_json

In [ ]:
flights_json.keys()

In [ ]:
flights_json["arrivals"]

In [ ]:
flights_json["arrivals"][0]

In [ ]:
flights_json["arrivals"][0].keys()

In [ ]:
import pandas as pd

flight_items = []  # Empty list to store flight details

# Loop through each arrival in the flights_json data
for item in flights_json.get("arrivals", []):
    flight_item = {
        "arrival_airport_icao": icao,  # ICAO code of the arrival airport
        "departure_airport_icao": item.get("departure", {}).get("airport", {}).get("icao", None),  # Departure airport ICAO
        "scheduled_arrival_time": item.get("arrival", {}).get("scheduledTime", {}).get("local", None),  # Scheduled arrival time
        "arrival_terminal": item.get("arrival", {}).get("terminal", None),  # Arrival terminal
        "flight_number": item.get("number", None)  # Flight number
    }
    flight_items.append(flight_item)  # Add flight details to the list

# Convert list of dictionaries to DataFrame
flights_df = pd.DataFrame(flight_items)

# Display the first few rows of the DataFrame
print(flights_df.head())

In [ ]:
flights_df["scheduled_arrival_time"] = flights_df["scheduled_arrival_time"].str[:-6] # Removing last 6 characters from the string
flights_df.head()

In [ ]:
import pandas as pd
from datetime import datetime, timedelta
import requests
from pytz import timezone

def get_flight_data(icao_list):
  api_key = RAPIDAPI_KEY,

  berlin_timezone = timezone('Europe/Berlin')
  today = datetime.now(berlin_timezone).date()
  tomorrow = (today + timedelta(days=1))

  flight_items = []

  for icao in icao_list:
    # the api can only make 12 hour calls, therefore, two 12 hour calls make a full day
    # using the nested lists below we can make a morning call and extract the data
    # then make an afternoon call and extract the data
    times = [["00:00","11:59"],
             ["12:00","23:59"]]

    for time in times:
      url = f"https://aerodatabox.p.rapidapi.com/flights/airports/icao/{icao}/{tomorrow}T{time[0]}/{tomorrow}T{time[1]}"

      querystring = {"withLeg":"true",
                    "direction":"Arrival",
                    "withCancelled":"false",
                    "withCodeshared":"true",
                    "withCargo":"false",
                    "withPrivate":"false"}

      headers = {
                "X-RapidAPI-Key": RAPIDAPI_KEY,
                "X-RapidAPI-Host": "aerodatabox.p.rapidapi.com"
          }
      response = requests.request("GET",
                                  url,
                                  headers = headers,
                                  params = querystring)

      flights_json = response.json()

      retrieval_time = datetime.now(berlin_timezone).strftime("%Y-%m-%d %H:%M:%S")

      for item in flights_json["arrivals"]:
        flight_item = {
            "arrival_airport_icao": icao,
            "departure_airport_icao": item["departure"]["airport"].get("icao", None),
            "scheduled_arrival_time": item["arrival"]["scheduledTime"].get("local", None),
            'arrival_terminal': item['arrival'].get('terminal', None),
            "flight_number": item.get("number", None),
            "data_retrieved_at": retrieval_time
        }

        flight_items.append(flight_item)

  flights_df = pd.DataFrame(flight_items)
  flights_df["scheduled_arrival_time"] = flights_df["scheduled_arrival_time"].str[:-6]
  flights_df["scheduled_arrival_time"] = pd.to_datetime(flights_df["scheduled_arrival_time"])
  flights_df["data_retrieved_at"] = pd.to_datetime(flights_df["data_retrieved_at"])

  return flights_df

In [ ]:
icao_list = ["EDDB", "EDDH", "EDDM"]

get_flight_data(icao_list)

In [ ]:
def tomorrows_flight_arrivals(icao_list):

    api_key = "14a44098c8mshe4536a007985112p1e3b4bjsn8fd805eb6bd4"

    berlin_timezone = timezone('Europe/Berlin')
    today = datetime.now(berlin_timezone).date()
    tomorrow = (today + timedelta(days=1))

    list_for_arrivals_df = []

    for icao in icao_list:

        times = [["00:00","11:59"],["12:00","23:59"]]

        for time in times:
            url = f"https://aerodatabox.p.rapidapi.com/flights/airports/icao/{icao}/{tomorrow}T{time[0]}/{tomorrow}T{time[1]}"

            querystring = {"direction":"Arrival","withCancelled":"false"}

            headers = {
                "X-RapidAPI-Key": RAPIDAPI_KEY,
                "X-RapidAPI-Host": "aerodatabox.p.rapidapi.com"
                }

            response = requests.request("GET", url, headers=headers, params=querystring)
            flights_resp = response.json()

            arrivals_df = pd.json_normalize(flights_resp["arrivals"])[["number", "airline.name", "movement.scheduledTime.local", "movement.terminal", "movement.airport.name", "movement.airport.icao"]]
            arrivals_df = arrivals_df.rename(columns={"number": "flight_number", "airline.name": "airline", "movement.scheduledTime.local": "arrival_time", "movement.terminal": "arrival_terminal", "movement.airport.name": "departure_city", "movement.airport.icao": "departure_airport_icao"})
            arrivals_df["arrival_airport_icao"] = icao
            arrivals_df["data_retrieved_on"] = datetime.now().date()
            arrivals_df = arrivals_df[["arrival_airport_icao", "flight_number", "airline", "arrival_time", "arrival_terminal", "departure_city", "departure_airport_icao", "data_retrieved_on"]]

            # fixing arrival_time
            arrivals_df["arrival_time"] = arrivals_df["arrival_time"].str.split("+").str[0]

            list_for_arrivals_df.append(arrivals_df)

    return pd.concat(list_for_arrivals_df, ignore_index=True)

In [ ]:
icao_list = ["EDDB", "EDDH", "EDDM"]

tomorrows_flight_arrivals(icao_list)